body {
    background: linear-gradient(to bottom, #7e1037, #c14e77);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.row-set {
    width: 100%; /* Usar 100% para preencher o espaço disponível */
    max-width: 800px; /* Define um tamanho máximo para o container */
    background-color: rgba(255, 182, 193, 0.8); /* Cor de fundo rosa para a prateleira */
    border-radius: 10px; /* Borda arredondada */
    display: flex;
    justify-content: space-around; /* Distribuir espaço igual entre os elementos */
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Permitir que os cards quebrem em várias linhas, se necessário */
}

.card {
    background-color: rgba(255, 255, 255, 0.6); /* Fundo branco com transparência para o card */
    border-radius: 10px; /* Arredondar os cantos do card */
    padding: 15px; /* Espaçamento interno */
    text-align: center; /* Centralizar o texto */
    flex: 1 1 200px; /* Permitir que os cards cresçam e diminuam, com um tamanho base de 200px */
    margin: 10px; /* Espaçamento entre os cards */
}

img {
    border-radius: 25%;
    object-fit: contain;
    width: 120px;
    height: 120px;
}

/* Estilos responsivos para tablets (tela entre 600px e 1024px) */
@media (max-width: 1024px) {
    .row-set {
        width: 90%; /* Largura um pouco menor em tablets */
    }
}

/* Estilos responsivos para celulares (tela menor que 600px) */
@media (max-width: 600px) {
    .row-set {
        width: 95%; /* Largura máxima para celulares */
        flex-direction: column; /* Colocar os elementos em coluna em telas pequenas */
    }
}
